<a href="https://colab.research.google.com/github/sdw1621/cospro/blob/main/Cospro_2%EA%B8%89_1%ED%9A%8C_Teacher1223.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 문제 1. 티셔츠 주문
A 학교에서는 단체 티셔츠를 주문하기 위해 학생별로 원하는 티셔츠 사이즈를 조사했습니다. 선택할 수 있는 티셔츠 사이즈는 작은 순서대로 "XS", "S", "M", "L", "XL", "XXL" 총 6종류가 있습니다.

학생별로 원하는 티셔츠 사이즈를 조사한 결과가 들어있는 배열 shirt_size가 매개변수로 주어질 때, 사이즈별로 티셔츠가 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 배열에 담아 return 하도록 solution 함수를 완성해주세요.


▣ 매개변수 설명

학생별로 원하는 사이즈를 조사한 결과가 들어있는 배열 shirt_size가 solution 함수의 매개변수로 주어집니다.
* shirt_size 의 길이는 1 이상 100 이하입니다.
* shirt_size 에는 치수를 나타내는 문자열 "XS", "S", "M", "L", "XL", "XXL" 이 들어있습니다.

▣ return 값 설명

티셔츠가 사이즈별로 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 배열에 담아 return 해주세요.
* return 하는 배열에는 [ "XS" 개수, "S" 개수, "M" 개수, "L" 개수, "XL" 개수, "XXL" 개수] 순서로 들어있어야 합니다.

▣ 예시

        | shirt_size                       | return             |
        |----------------------------------|--------------------|
        | ["XS", "S", "L", "L", "XL", "S"] | [1, 2, 0, 2, 1, 0] |

▣ 예시 설명

* "XS"와 "XL"은 각각 한 명씩 신청했습니다.
* "S"와 "L"은 각각 두 명씩 신청했습니다.
* "M"과 "XXL"을 신청한 학생은 없습니다.

따라서 순서대로 [1, 2, 0, 2, 1, 0]을 배열에 담아 return 하면 됩니다.

In [ ]:
list -> 순서가 있음, index 를 이용해 item에 접근

In [ ]:
[0, 0, 0, 0, 0, 0] => [0] * 6
'XS' -> answer[0] += 1 # answer[0] = answer[0] + 1   [1, 0, 0, 0, 0, 0]
'S'  -> answer[1] += 1 # [1, 1, 0, 0, 0, 0]
'L'  -> answer[3] += 1 # [1, 1, 0, 1, 0, 0]
'L'  -> answer[3] += 1 # [1, 1, 0, 2, 0, 0]
'XL' -> answer[3] += 1 # [1, 1, 0, 2, 1, 0]
'S'  -> answer[3] += 1 # [1, 2, 0, 2, 1, 0]

In [ ]:
def solution(shirt_size):
    answer = [0] * 6
    for item in shirt_size:
        if item == 'XS': p = 0
        elif item == 'S' : p = 1
        elif item == 'M' : p = 2
        elif item == 'L' : p = 3
        elif item == 'XL' : p = 4
        else: p = 5
        answer[p] += 1
    return answer

In [ ]:
dict : A = {key:value, key:value, ..}
A[key] ->  value

In [ ]:
A = {'XS':0, 'S':1, 'M':2, 'L':3, 'XL':4, 'XXL': 5}
A['XL']

4

In [ ]:
dict(zip('XS S M L XL XXL'.split(), range(6)))

{'L': 3, 'M': 2, 'S': 1, 'XL': 4, 'XS': 0, 'XXL': 5}

In [ ]:
dict(XS=0, S=1, M=2, L=3, XL=4, XXL=5)

{'L': 3, 'M': 2, 'S': 1, 'XL': 4, 'XS': 0, 'XXL': 5}

In [ ]:
#You may use import as below.
#import math

def solution(shirt_size):
    #Write code here.
    A = {'XS':0, 'S':1, 'M':2, 'L':3, 'XL':4, 'XXL': 5}
    answer = [0] * 6
    for item in shirt_size:
        p = A[item]
        answer[p] += 1
    return answer

#The following is code to output testcase.
shirt_size = ["XS", "S", "L", "L", "XL", "S"]
ret = solution(shirt_size)

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

Solution: return value of the function is  [1, 2, 0, 2, 1, 0]  .

### 문제 2. 회원 등급

A 쇼핑몰에서는 회원 등급에 따라 할인 서비스를 제공합니다.
회원 등급에 따른 할인율은 다음과 같습니다.
(S = 실버, G = 골드, V = VIP)

        | 등급  | 할인율 |
        |-------|--------|
        | "S"   | 5%     |
        | "G"   | 10%    |
        | "V"   | 15%    |

상품의 가격 price와 구매자의 회원 등급을 나타내는 문자열 grade가 매개변수로 주어질 때, 할인 서비스를 적용한 가격을 return 하도록 solution 함수를 완성해주세요.


▣매개변수 설명

상품의 가격 price와 회원 등급 grade가 매개변수로 주어집니다.
* price는 100 이상 100,000 이하의 100단위 자연수입니다.
* grade는 "S", "G", "V" 세 가지 중 하나입니다.

▣return 값 설명

할인한 가격을 return 하도록 solution 함수를 작성해주세요.

▣예시

        | price | grade    | return |
        |-------|----------|--------|
        | 2500  | "V"      | 2125   |
        | 96900 | "S"      | 92055  |

▣ 예시 설명

예시 #1
2500원의 15%는 375원 입니다. 2500 - 375 = 2125 입니다.

예시 #2
96900원의 5%는 4845원 입니다. 96900 - 4845 = 92055 입니다.

In [ ]:
100 * 0.05  # 100단위이기 때문에 소수점 아래를 없애고 정수화 해도 됨!

5.0

In [ ]:
# price, grade
# if ~ else statement
price, grade = 96900, 'S'
if grade == 'S':
    d = 0.05
elif grade == 'G':
    d = 0.1
else:
    d = 0.15
answer = int(price * (1-d))
print(answer)

92055

In [ ]:
# conditional expression
d = 0.05 if grade == 'S' else 0.1 if grade == 'G' else 0.15

In [ ]:
# dict container
price, grade = 96900, 'S'
A = {'S':0.05, 'G':0.1, 'V':0.15}
d = A[grade]
answer = int(price * (1-d))
print(answer)

92055

In [ ]:
def solution(price, grade):
    #Write code here.
    A = {'S':0.05, 'G':0.1, 'V':0.15}
    return int(price * (1-A[grade]))

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
    #Write code here.
    d = 0.05 if grade == 'S' else 0.1 if grade == 'G' else 0.15
    return int(price * (1-d))

#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is 2125 .
Solution: return value of the function is 92055 .

### 문제 3. 날짜세기

시작 날짜와 끝 날짜가 주어질 때, 두 날짜가 며칠만큼 떨어져 있는지(D-day)를 구하려 합니다. 이를 위해 다음과 같이 3단계로 간단히 프로그램 구조를 작성했습니다. (단, 윤년은 고려하지 않습니다.)

- 1단계. 시작 날짜가 1월 1일로부터 며칠만큼 떨어져 있는지 구합니다.
- 2단계. 끝 날짜가 1월 1일로부터 며칠만큼 떨어져 있는지 구합니다.
- 3단계. (2단계에서 구한 날짜) - (1단계에서 구한 날짜)를 구합니다.

시작 날짜의 월, 일을 나타내는 start_month, start_day, 끝 날짜의 월, 일을 나타내는 end_month, end_day가 매개변수로 주어질 때, 시작 날짜와 끝 날짜가 며칠만큼 떨어져 있는지 return 하도록 solution 함수를 작성했습니다. 이때, 위 구조를 참고하여 중복되는 부분은 func_a라는 함수로 작성했습니다. 코드가 올바르게 동작할 수 있도록 빈칸을 알맞게 채워주세요.


▣ 매개변수 설명

시작 날짜의 월, 일을 나타내는 start_month, start_day, 끝 날짜의 월, 일을 나타내는 end_month, end_day가 solution 함수의 매개변수로 주어집니다.

* 잘못된 날짜가 주어지는 경우는 없습니다.
* 끝 날짜는 항상 시작 날짜보다 뒤에 있는 날이 주어집니다.
* 끝 날짜가 다음 해로 넘어가는 경우는 주어지지 않습니다.
  * 즉, start_month <= end_month를 항상 만족합니다.
  * start_month = end_month라면 start_day <= end_day를 항상 만족합니다.
* 각 달의 날짜 수는 1월부터 순서대로 [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] 이며, 윤년은 고려하지 않습니다.

▣ return 값 설명

시작 날짜와 끝 날짜가 며칠만큼 떨어져 있는지 return 해주세요.

▣ 예시

        | start_month | start_day | end_month | end_day | return |
        |-------------|-----------|-----------|---------|--------|
        | 1           | 2         | 2         | 2       | 31     |

▣ 예시 설명

시작 날짜는 1월 2일이고, 끝 날짜는 2월 2일입니다.
* 1월 2일은 1월 1일로부터 1일만큼 지난 날입니다.
* 2월 2일은 1월 1일로부터 32일만큼 지난 날입니다.
* 32 - 1 = 31입니다.
* 따라서 1월 2일과 2월 2일은 31일만큼 떨어져 있습니다.

In [ ]:
#6월 4일
#1, 2, 3, 4, 5 => 31 + 28 + 31 + 30 + 31
month, day = 6, 4
list(range(month-1))

[0, 1, 2, 3, 4]

In [ ]:
month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
month = 4
month_list[:month-1]

[31, 28, 31]

In [ ]:
# 동일한 결과, 다른 풀이법
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    return sum(month_list[:month-1]) + day - 1

In [ ]:
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = 0
    for i in range(month-1):
        total += month_list[i]
    total += day
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

#The following is code to output testcase.
start_month = 1
start_day = 2
end_month = 2
end_day = 2
ret = solution(start_month, start_day, end_month, end_day)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is 31 .

### 문제 4. 수의 개수 세기

자연수가 들어있는 배열이 있습니다. 이 배열에서 가장 많이 등장하는 숫자의 개수는 가장 적게 등장하는 숫자 개수의 몇 배인지 구하려 합니다. 이를 위해 다음과 같이 간단히 프로그램 구조를 작성했습니다.

- 1단계. 배열에 들어있는 각 자연수의 개수를 셉니다.
- 2단계. 가장 많이 등장하는 수의 개수를 구합니다.
- 3단계. 가장 적게 등장하는 수의 개수를 구합니다.
- 4단계. 가장 많이 등장하는 수가 가장 적게 등장하는 수보다 몇 배 더 많은지 구합니다.

단, 몇 배 더 많은지 구할 때는 소수 부분은 버리고 정수 부분만 구하면 됩니다.

자연수가 들어있는 배열 arr가 매개변수로 주어질 때, 가장 많이 등장하는 숫자가 가장 적게 등장하는 숫자보다 몇 배 더 많은지 return 하도록 solution 함수를 작성하려 합니다. 위 구조를 참고하여 코드가 올바르게 동작할 수 있도록 빈칸에 주어진 func_a, func_b, func_c 함수와 매개변수를 알맞게 채워주세요.


▣ 매개변수 설명

자연수가 들어있는 배열 arr가 solution 함수의 매개변수로 주어집니다.
* arr의 길이는 3 이상 1,000 이하입니다.
* arr에는 1 이상 1,000이하의 자연수가 들어있습니다.

▣ return 값 설명

배열에서 가장 많이 등장하는 숫자가 가장 적게 등장하는 숫자보다 몇 배 이상 많은지 return 해주세요.

* 가장 많이 들어있는 수의 개수와 가장 적게 들어있는 수의 개수가 같은 경우에는 1을 return 합니다.

▣ 예시

    | arr                   | return |
    |-----------------------|--------|
    | [1,2,3,3,1,3,3,2,3,2] | 2      |

▣ 예시 설명

배열에 1이 2개, 2가 3개, 3이 5개 들어있습니다.
* 가장 적게 들어있는 숫자 : 1 (2개)
* 가장 많이 들어있는 숫자 : 3 (5개)

3이 1보다 2.5배 많이 들어있으며, 소수 부분을 버리고 2를 return 하면 됩니다.

In [ ]:
#[0 for _ in range(1001)]
[0] * 1001

In [ ]:
a = [[0, 0, 0], 
     [0, 0, 0], 
     [0, 0, 0]]
a[0][2] = 100     
print(a)

[[0, 0, 100], [0, 0, 0], [0, 0, 0]]

In [ ]:
b = [[0]*3 for _ in range(3)]
b[0][2] = 100
print(b)

[[0, 0, 100], [0, 0, 0], [0, 0, 0]]

In [ ]:
id(b[0]), id(b[1]), id(b[2])  # id : identity,주소

(140652269533376, 140652392074928, 140652269445440)

In [ ]:
# 사용금지 - slot
c = [[0]*3] * 3   # [[0,0,0]] * 3 => [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
c[0][2] = 100
c

[[0, 0, 100], [0, 0, 100], [0, 0, 100]]

In [ ]:
id(c[0]), id(c[1]), id(c[2])  # id : identity,주소

(140652269178784, 140652269178784, 140652269178784)

In [ ]:
# container의 slot :

In [ ]:
# 1단계. 배열에 들어있는 각 자연수의 개수를 셉니다.
def func_a(arr):
    counter = [0 for _ in range(1001)] # [0, 0, 0, ...0] -> 1 ~ 1000까지의 수에 대한 빈도저장
    for x in arr:
        counter[x] += 1
    return counter

# 2단계. 가장 많이 등장하는 수의 개수를 구합니다.
def func_b(arr):
    ret = 0
    for x in arr:
        if ret < x:
            ret = x
    return ret

# 3단계. 가장 적게 등장하는 수의 개수를 구합니다.
def func_c(arr):
    INF = 1001
    ret = INF
    for x in arr:
        if x != 0 and ret > x:
            ret = x
    return ret

# 1단계. 배열에 들어있는 각 자연수의 개수를 셉니다.
# 2단계. 가장 많이 등장하는 수의 개수를 구합니다.
# 3단계. 가장 적게 등장하는 수의 개수를 구합니다.
# 4단계. 가장 많이 등장하는 수가 가장 적게 등장하는 수보다 몇 배 더 많은지 구합니다.
def solution(arr):
    counter = func_a(arr)
    max_cnt = func_b(counter)
    min_cnt = func_c(counter)
    return max_cnt // min_cnt

#The following is code to output testcase.
arr = [1, 2, 3, 3, 1, 3, 3, 2, 3, 2]
ret = solution(arr)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is 2 .

### 문제 5. 배열 순서 뒤집기

주어진 배열의 순서를 뒤집으려고 합니다.

예를 들어 주어진 배열이 [1, 4, 2, 3]이면, 순서를 뒤집은 배열은 [3, 2, 4, 1]입니다.

정수가 들어있는 배열 arr가 매개변수로 주어졌을 때, arr를 뒤집어서 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해주세요.


▣ 매개변수 설명

정수가 들어있는 배열 arr가 solution 함수의 매개변수로 주어집니다.
* arr의 길이는 1 이상 100 이하입니다.
* arr의 원소는 -100 이상 100 이하의 정수입니다.

▣ return 값 설명

배열 arr의 순서를 뒤집어서 return 해주세요.

▣ 예시

    | arr          | return       |
    |--------------|--------------|
    | [1, 4, 2, 3] | [3, 2, 4, 1] |

▣ 예시 설명

[1, 4, 2, 3]을 뒤에서부터 읽으면 3, 2, 4, 1입니다. 따라서 [1, 4, 2, 3]의 순서를 뒤집은 결과는 [3, 2, 4, 1]이 됩니다.

In [ ]:
# slot : https://www.youtube.com/watch?v=Ob9iCbR76sU
# 영상 뒤쪽으로 계속 container에 대한 설명이 있습니다.

# 답을 찾는데는 slot 개념으로 이해하지 않으셔도 되지만
# slot을 이해를 해두시면 파이썬에 대한 이해의 폭이 넓어집니다.
# 좋은 코드를 작성할 수 있는 밑거름이 되는 것이죠. ^^*

![image.png]()

In [ ]:
arr = [1, 4, 2, 3]

left, right = 0, len(arr)-1
print(left, right)
# while
arr[left], arr[right] = arr[right], arr[left]   # SWAP(a, b)
print(arr)
left += 1
right -= 1
print(left, right)
# while
arr[left], arr[right] = arr[right], arr[left]   # SWAP(a, b)
print(arr)
left += 1
right -= 1
print(left, right)
# while

0 3
[3, 4, 2, 1]
1 2
[3, 2, 4, 1]
2 1

In [ ]:
# SWAP의 원리
arr = [1, 4, 2, 3]
X = arr[0], arr[3]   # X는 tuple (2개의 slot 공간을 가지고 있는)
arr[3], arr[0] = X
print(X)

(1, 3)

In [ ]:
# 조건 : True/False로 판단될 수 있는 객체
# while : 조건이 True인 동안 statement를 계속 반복 실행
while 조건:
    statement

In [ ]:
# slot이 새롭게 생성됨
def solution(arr):    
    return arr[::-1]

In [ ]:
# slot을 유지하고 내용을 변경
def solution(arr):
    left, right = 0, len(arr)-1
    while left < right:
        arr[left], arr[right] = arr[right], arr[left]
        left += 1
        right -= 1
    return arr
    
#The following is code to output testcase.
arr = [1, 4, 2, 3]
print(id(arr))
ret = solution(arr)
print(id(ret))
#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

139830755033808
139830755033808
Solution: return value of the function is  [3, 2, 4, 1]  .

### 문제 6. 369 게임
369 게임은 여러 명이 같이하는 게임입니다. 게임의 규칙은 아래와 같습니다.

* 1부터 시작합니다.
* 한 사람씩 차례대로 숫자를 1씩 더해가며 말합니다.
* 말해야 하는 숫자에 3, 6, 9중 하나라도 포함되어있다면 숫자를 말하는 대신 숫자에 포함된 3, 6, 9의 개수만큼 손뼉을 칩니다.

어떤 수 number가 매개변수로 주어질 때, 1부터 number까지 369게임을 올바르게 진행했을 경우 박수를 총 몇 번 쳤는지를 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해주세요.


▣매개변수 설명

number가 solution 함수의 매개변수로 주어집니다.
* number는 10 이상 1,000 이하의 자연수입니다.

▣return 값 설명

1부터 number까지 369게임을 올바르게 진행했을 경우 박수를 총 몇 번을 쳤는지 return 해주세요.

▣예시

    | number | return |
    |--------|--------|
    | 40     | 22     |

▣예시 설명

- 3, 6, 9 : 각각 한 번 (+3)
- 13, 16, 19 : 각각 한 번 (+3)
- 23, 26, 29 : 각각 한 번 (+3)
- 30, 31, 32, 33, ..., 38, 39 : 십의 자리 열 번 + 일의 자리 세 번 (+13)

따라서, 3 + 3 + 3 + 13 = 22번의 박수를 칩니다.

In [ ]:
number = 40
count = 0  # 박수의 횟수

#for i in range(1, number + 1):  # i=1, 2, 3, .... 40
i = 130
current = i   # 현재의 숫자
temp = count  # 현재의 박수 횟수
while current !=0:  # current이 0 이 아닌 동안 반복
    if current % 10 in [3,6,9]:
        count += 1  # 박수 횟수의 1 증가 
        print("pair", end = '')
    #print(current)
    current = current // 10
if temp == count:  # count가 변경되지 않았다면
    print(i, end = '')  # 숫자를 출력
print(" ", end = '')

print('count =', count)

pair count = 1

In [ ]:
i = 123
a = [int(x) for x in str(123)]
b = list(map(int, str(i)))
print(a, b)

[1, 2, 3] [1, 2, 3]

In [ ]:
def solution2(number):
    count = 0
    for i in range(1, number + 1):
        temp = count
        #for x in [int(x) for x in str(i)]:
        for x in map(int, str(i)):
            if x in [3,6,9]:
                count += 1
                print("pair", end = '')
        if temp == count:
            print(i, end = '')
        print(" ", end = '')
    print("")   # 줄바꿈
    return count

In [ ]:
def solution(number):
    count = 0
    for i in range(1, number + 1):
        current = i
        temp = count
        while current != 0:
            if current % 10 in [3,6,9]:
                count += 1
                print("pair", end = '')
            current = current // 10
        if temp == count:
            print(i, end = '')
        print(" ", end = '')
    print("")   # 줄바꿈
    return count

#The following is code to output testcase.
number = 40
ret = solution(number)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

1 2 pair 4 5 pair 7 8 pair 10 11 12 pair 14 15 pair 17 18 pair 20 21 22 pair 24 25 pair 27 28 pair pair pair pair pairpair pair pair pairpair pair pair pairpair 40
Solution: return value of the function is 22 .

### 문제 7. 토익 성적

A 대학에서는 수준별 영어 강의를 제공하고 있습니다. 초급 영어 강의는 토익시험에서 650점 이상 800점 미만의 성적을 취득한 학생만을 수강대상으로 하고 있습니다. 초급 영어 강의에 수강신청한 사람이 10명일 때, 이 중에서 몇명이 수강 대상에 해당하는지 확인하려합니다.

수강신청자들의 토익 성적이 들어있는 배열 scores가 매개변수로 주어질 때, 수강 대상자들의 인원수를 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 _**한 줄**_만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정해주세요.


▣매개변수 설명

수강신청자들의 토익 성적이 들어있는 배열 scores가 solution 함수의 매개변수로 주어집니다.
* scores의 원소는 500 이상 990 이하의 정수입니다.
* scores의 길이는 10입니다.

▣return 값 설명

수강 대상자들의 인원수를 return 해주세요.

▣예시

    | scores                                             | return |
    |----------------------------------------------------|--------|
    | [650, 722, 914, 558, 714, 803, 650, 679, 669, 800] | 6      |

▣예시 설명

    |점수     | 650 | 722 | 914 | 558 | 714 | 803 | 650 | 679 | 669 | 800 |
    |---------|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|
    |수강 대상| O   | O   | X   | X   | O   | X   | O   | O   | O   | X   |

650점 이상 800점 미만의 성적을 취득한 학생이 수강대상이므로, 800점을 취득한 학생은 수강대상이 아닙니다.
따라서, 6명이 수강 대상입니다.

In [ ]:
# and, or, not
x = [[True, True], [True, False], [False, True], [False, False]]
for a, b in x:
    print(a and b, a or b)

True True
False True
False True
False False

In [ ]:
# True 로 인지되는 객체, False로 인지되는 객체
# False : 0, 0.0, None, '', (), {}, set()
# True : False가 아닌 모든 객체
[] and 'Yes'   #  and : 앞쪽이 True였을 때 뒤쪽을 반환, 앞쪽이 False라면 앞쪽을 반환

[]

In [ ]:
0 or 'Yes' # or : 앞쪽이 True였을 때 앞쪽을 반환, 앞쪽이 False라면 뒤쪽을 반환

'Yes'

In [ ]:
# &, |, ~  (비트의 and, or, not)
x = [[True, True], [True, False], [False, True], [False, False]]
for a, b in x:
    print(a & b, a | b)

True True
False True
False True
False False

In [ ]:
a = 0b1100
b = 0b1010
print(a & b, a | b)
print(bin(a & b), bin(a | b))

8 14
0b1000 0b1110

In [ ]:
def solution(scores):
    count = 0
    for s in scores:
        #if 650 <= s and s < 800:
        if 650 <= s < 800:
            count += 1
    return count

#The following is code to output testcase. The code below is correct and you shall correct solution function.
scores = [650, 722, 914, 558, 714, 803, 650, 679, 669, 800]
ret = solution(scores)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is 6 .

### 문제 8. 팰린드롬(palindrome)

앞에서부터 읽을 때와 뒤에서부터 읽을 때 똑같은 단어 또는 문장을 팰린드롬(palindrome)이라고 합니다. 예를 들어서 racecar, noon은 팰린드롬 단어입니다. 

소문자 알파벳, 공백(" "), 그리고 마침표(".")로 이루어진 문장이 팰린드롬 문장인지 점검하려 합니다. 문장 내에서 알파벳만 추출하였을 때에 팰린드롬 단어이면 팰린드롬 문장입니다. 예를 들어, "never odd or even."과 같은 문장은 팰린드롬입니다.

소문자 알파벳, 공백(" "), 그리고 마침표(".")로 이루어진 문장 sentence가 주어질 때 팰린드롬인지 아닌지를 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 _**한 줄**_만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정해주세요.


▣ 매개변수 설명

소문자 알파벳, 공백(" "), 그리고 마침표(".")로 이루어진 문장 sentence가 solution 함수의 매개변수로 주어집니다.
* sentence의 길이는 1이상 100이하입니다.
* sentence에는 적어도 하나의 알파벳이 포함되어 있습니다.
* sentence의 각 문자는 소문자 알파벳, 공백(" "), 또는 마침표(".")입니다.

▣ return 값 설명

주어진 문장이 팰린드롬인지 아닌지를 return 해주세요.

▣ 예시

    | sentence             	| return |
    |----------------------	|--------|
    | "never odd or even." 	| true   |
    | "palindrome"         	| false  |

▣ 예시 설명

예시 #1

알파벳 소문자만 추출하면 "neveroddoreven"이 되며 이 단어는 팰린드롬입니다.

예시 #2

문장의 맨 앞 문자인 "p"와 맨 뒤 문자인 "e"가 다르므로 팰린드롬이 아닙니다.

In [ ]:
# namespace
# namespace 이해 : https://youtu.be/Pkp8JEzih6k   (PYTHON-23, 24, 25를 연속으로 보시면 좋습니다.)
# namespace 종류 : https://youtu.be/nUcWo-adNe0   (PYTHON-88, 89를 연속으로 보시면 좋습니다.)

In [ ]:
sentence = "never odd or even."
A = ''
for c in sentence:
    if c != '.' and c != ' ':
        A += c            
size = len(A)
print(A, size)

neveroddoreven 14

In [ ]:
ord('a'), ord('b'), ord('c'), ord('A'), ord('B'), ord('C'), ord('0'), ord('1'), ord('2')

(97, 98, 99, 65, 66, 67, 48, 49, 50)

In [ ]:
if 'a' < 'A':
    print('upper')
else:
    print('lower')

lower

In [ ]:
sentence = "never odd or even."
A = ''
for c in sentence:
    #if 'a' <= c <= 'z':
    if 'a' <= c and c <= 'z':
        A += c            
size = len(A)
print(A, size)
for i in range(size // 2):        # i=0, 1, 2, 3, 4, 5, 6
    if A[i] != A[size - 1 - i]:   #   13, 12, 11, 10, 9, 8, 7
        print('False')

neveroddoreven 14

In [ ]:
def solution2(sentence):
    A = ''
    for c in sentence:
        if 'a' <= c and c <= 'z':
            A += c            
   
    return A == A[::-1]

In [ ]:
def solution(sentence):
    str = ''
    for c in sentence:
        if c != '.' and c != ' ':
            str += c            
    size = len(str)
    for i in range(size // 2):
        if str[i] != str[size - 1 - i]:
            return False
    return True


#The following is code to output testcase. The code below is correct and you shall correct solution function.
sentence1 = "never odd or even."
ret1 = solution(sentence1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
sentence2 = "palindrome"
ret2 = solution(sentence2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is True .
Solution: return value of the function is False .

### 문제 9. 중복문자 삭제

알파벳 문자열이 주어질 때, 연속하는 중복 문자를 삭제하려고 합니다. 예를 들어, "senteeeencccccceeee"라는 문자열이 주어진다면, "sentence"라는 결과물이 나옵니다.

영어 소문자 알파벳으로 이루어진 임의의 문자열 characters가 매개변수로 주어질 때, 연속하는 중복 문자들을 삭제한 결과를 return 하도록 solution 함수를 작성하였습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 코드가 올바르게 동작하지 않습니다. 주어진 코드에서 _**한 줄**_만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.


▣매개변수 설명

영어 소문자 알파벳으로 이루어진 임의의 문자열 characters가 solution 함수의 매개변수로 주어집니다. 
* characters는 알파벳 소문자로만 이루어져있습니다.
* characters의 길이는 10 이상 100 이하입니다.

▣return 값 설명

characters에서 연속하는 중복 문자를 제거한 문자열을 return 해주세요.

▣예시

    | characters            | return    |
    |-----------------------|-----------|
    | "senteeeencccccceeee" | "sentence"|

In [ ]:
# 문제 풀이의 접근 방법
characters = "senteeeencccccceeee"
result = ""
result += characters[0]
print(result)
print(len(characters))
for i in range(1, len(characters)):  # i=0, 1, 2, 3, ..., 18  (19번 반복)
    #print(i-1, i)
    if characters[i - 1] != characters[i]:
        result += characters[i]  
result

s
19

'sentence'

In [ ]:
# 다른 풀이 방법
characters = "senteeeencccccceeee"
result = characters[0]

for c in characters[1:]: 
    if result[-1] != c:
        result += c 
result

'sentence'

In [ ]:
def solution(characters):
    result = ""
    result += characters[0]
    for i in range(1, len(characters)):
        if characters[i - 1] != characters[i]:
            result += characters[i]
    return result

#The following is code to output testcase. The code below is correct and you shall correct solution function.
characters = "senteeeencccccceeee"
ret = solution(characters)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is sentence .

### 문제 10. 평균 이하인 숫자

평균은 자료의 합을 자료의 개수로 나눈 값을 의미합니다. 자연수가 들어있는 배열의 평균을 구하고, 평균 이하인 숫자는 몇 개 있는지 구하려합니다.

예를 들어 주어진 배열이 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]이라면, 평균은 5.5이므로 배열에서 평균 이하인 값은 5개입니다.

자연수가 들어있는 배열 data가 매개변수로 주어질 때, 배열에 평균 이하인 값은 몇 개인지 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 한 줄만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.



▣ 매개변수 설명

자연수가 들어있는 배열 data가 solution 함수의 매개변수로 주어집니다.

* data의 길이는 10 이상 100 이하 정수입니다.
* data의 원소는 1 이상 1,000 이하의 자연수입니다.

▣ return 값 설명

평균보다 값이 작은 자연수는 몇개인지 return 해주세요.

▣ 예시

    | data                            | return |
    |---------------------------------|--------|
    | [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] | 5      |
    | [1, 1, 1, 1, 1, 1, 1, 1, 1, 10] | 9      |

▣ 예시 설명

예시 #1

자료의 합은 55이며, 자료의 개수는 10개입니다. 따라서 평균은 55 / 10 = 5.5입니다.
주어진 배열에서 5.5보다 작은 숫자는 총 5개입니다.

예시 #2

자료의 합은 19이며, 자료의 개수는 10개입니다. 따라서 평균은 19 / 10 = 1.9입니다.
주어진 배열에서 1.9보다 작은 숫자는 총 9개입니다.

In [ ]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = sum(data)
average = total / len(data)
print(total, average)

55 5.5

In [ ]:
def solution(data):
    total = sum(data)
    average = total / len(data)
    cnt = 0
    for d in data:
        if d <= average:
            cnt += 1
    return cnt


#The following is code to output testcase. The code below is correct and you shall correct solution function.
data1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ret1 = solution(data1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
data2 = [1, 1, 1, 1, 1, 1, 1, 1, 1, 10]
ret2 = solution(data2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is 5 .
Solution: return value of the function is 9 .